.jumbotron {
    background-image: url("../img/burger.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

.jumbotron > h1 {
    font-family: cursive;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: rgb(110, 103, 103);
}

#lefthead {
    background-color: #032e03;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #377483;
    color: white;
    text-align: center;
    font-size: 1.2em;
}